<style>
  #profile {
    background-image: url('../assets/img/guest.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 38px;
    min-width: 38px;
    right: 0px;
    top: 0px;
    border-radius: 50%;
    background-color: #EFF0F1;
  }

</style>
<!-- Image and text -->
<nav class="navbar navbar-custom navbar-expand-sm navbar-light shadow p-3"
  style="background-color: rgb(255,255,255) !important;">
  <a class="navbar-brand" routerLink="/home">
    <img class="img-responsive" src="../assets/img/icon.png" alt="Logo">
  </a>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">คำที่ไม่รู้จัก</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/conversation">ประโยคที่ไม่รู้จัก</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">เกี่ยวกับฉัน</a>
    </li>
  </ul>
  </div>
  <ul class="navbar ml-auto">
    <div id="profile">
    </div>
  </ul>
</nav>
<router-outlet>
</router-outlet>
